* {
    box-sizing: border-box;
  }
  
  h1 {
    margin-top: 0;
    font-size: 22px;
    text-align: center;
    color: #00aadd;
  }
  
  h2 {
    margin-top: 0;
    font-size: 20px;
    text-align: center;
    color: #00aadd;
  }
  
  h3 {
    margin-top: 0;
    font-size: 18px;
  }
  
  h4 {
    margin-top: 0;
    font-size: 16px;
  }
  
  h5 {
    margin-top: 0;
    font-size: 14px;
  }
  
  h6 {
    margin-top: 0;
    font-size: 12px;
  }
  
  code {
    font-size: 1.2em;
  }
  
  ul {
    padding-inline-start: 20px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: serif;
    margin: 20px;
    padding: 0;
    background-color: #dddddd;
    color: #88ccff;
  }

  .header {
    background-color: #003355;
    text-align: center;
    color: #00aadd;
    margin: 20px;
    margin-top: 50px;
  }

  .intro {
    background-color: #003355;
    margin: 20px;
  }

  .app {
    background-color: #003355;
    color: #5555
  }
  
  .square {
    background: #5555;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }